DatVeMayBay/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DatVeMayBay/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DatVeMayBay.v12.suo
DatVeMayBay/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DatVeMayBay.v12.suo