<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script src="~/Scripts/knockout-3.1.0.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Đặt vé máy bay online</title>
    <script src="~/Plugins/jquery.min.js"></script>
    <script src="~/Plugins/bootstrap-datetimepicker/js/moment.min.js"></script>
    <link href="~/Plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <link href="~/Plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/Plugins/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Plugins/jquery-sweet-alert/sweetalert.css" rel="stylesheet" />
    <style>
        body {
            padding-top: 10px;
        }
    </style>
    @RenderSection("Scripts", false)
</head>
<body class="container">
    @RenderBody()
</body>
</html>